@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
	font-family: 'Lato';
	color: #424551;
}

[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	padding: 15px 0px;
}


.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

.who-we {}

.who-we__container {
	padding: 180px 0px;
	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 135px;
}

.who-we__media {}

.who-we__media img {
	max-width: 100%;
}

.who-we__content {}

.content-who {}

.content-who__titles {
	margin-bottom: 40px;
}


.content-who__list {
	margin-bottom: 20px;
	max-width: 390px;
}

.list-who {}

.list-who__item {
	line-height: 160%;
	background: url("../img/who-we/icons/check.svg")0 6px no-repeat;
	padding-left: 25px;

}

.list-who__item:not(:last-child) {
	margin-bottom: 12px;
}

.content-who__button {}